## Loading library

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from concurrent.futures import ThreadPoolExecutor

C:\Users\SHOLAY\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Loading Dataset

In [2]:
train_data= pd.read_csv('train.csv', parse_dates= ['Date'], index_col= ['Date'])
test_data = pd.read_csv('test.csv', parse_dates= ['Date'], index_col= ['Date'])

C:\Users\SHOLAY\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Data overview

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1017209 entries, 2015-07-31 to 2013-01-01
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Sales          1017209 non-null  int64
 3   Customers      1017209 non-null  int64
 4   Open           1017209 non-null  int64
 5   Promo          1017209 non-null  int64
 6   StateHoliday   1017209 non-null  object
 7   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(1)
memory usage: 69.8+ MB

In [4]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 41088 entries, 2015-09-17 to 2015-08-01
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Open           41077 non-null  float64
 4   Promo          41088 non-null  int64
 5   StateHoliday   41088 non-null  object
 6   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 2.5+ MB

In [5]:
train_data.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Date,,,,,,,,
2015-07-31,1,5,5263,555,1,1,0,1
2015-07-31,2,5,6064,625,1,1,0,1
2015-07-31,3,5,8314,821,1,1,0,1
2015-07-31,4,5,13995,1498,1,1,0,1
2015-07-31,5,5,4822,559,1,1,0,1

In [6]:
test_data.head()

            Id  Store  DayOfWeek  Open  Promo StateHoliday  SchoolHoliday
Date
2015-09-17   1      1          4   1.0      1            0              0
2015-09-17   2      3          4   1.0      1            0              0
2015-09-17   3      7          4   1.0      1            0              0
2015-09-17   4      8          4   1.0      1            0              0
2015-09-17   5      9          4   1.0      1            0              0

## Check for seasonality in both training and test sets - are the seasons similar between these two groups?

In [9]:
train_data.index.year.unique()

Int64Index([2015, 2014, 2013], dtype='int64', name='Date')

In [10]:
test_data.index.year.unique()

Int64Index([2015], dtype='int64', name='Date')